<div id="container">
  <div class="feature">
    <div class="feature-img">
      <img class="ai-images" src="../assets/images/ai-home.png"/>
    </div>
    <div class="feature-desc">
      <p>
        This is the initial page of the application where you will be able to select
        softwares of your choice that you'd like to install.
      </p>
    </div>
  </div>

  <div class="feature">
      <div class="feature-img">
        <img class="ai-images" src="../assets/images/ai-install.png"/>
      </div>
      <div class="feature-desc">
        <p>
          After you've selected the software you'd like to install. Simply click install
          and the softwares will install in the background while you go on doing more important
          stuff :)
        </p>
      </div>
    </div>
</div>