<div id="container">
  <div id="descContainer">
    <p id="desc">
      Auto Installer is a Windows Application that is able to automatically install softwares 
      of your choice with just 2 clicks. Our software makes it easy for you install a large 
      sum of softwares without you having to be there, allowing you to focus on more 
      important things like playing League of Legends or watching Netflix.
    </p>
  </div>
  
  <div id="download" (click)="downloadExe()">
    <a id="download-button" class="hvr-rectangle-out">Download</a>
  </div>
  <span id="specRequirements">Windows 7/8/10</span>
</div>
