@import url('https://fonts.googleapis.com/css?family=Abel');

#container{
    display: block;
    margin: auto;
    width: 90%;
}

nav{
    width: 100%;
    padding: 30px;
}

.nav-items{
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    padding: 10px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.53);
}

.nav-items:hover{
    cursor:pointer;
}